body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #091934;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #091934;
    color: white;
}

.logo {
    max-width: 180px;
    height: auto;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
    background-color: #091934;
    color: white;
}

th,
td a {
    color: white;
}

th {
    background-color: #091934;
    color: white;
}

button {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #091934;
    color: white;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode table,
.dark-mode th,
.dark-mode td {
    border-color: #444;
}

.dark-mode th {
    background-color: #333;
}

.dark-mode div.header {
    background-color: #121212;
}

.dark-mode th,
td {
    background-color: 121212;
}